.pagination {
    margin: 0;
}
.margin-right-5px {
    margin-right: 5px;
}
.fa {
    margin-right: 0.5rem;
}
.files {
    padding-top: 1em;
}
#board tr td:nth-child(1) { width: 50%; } /* title */
#board tr td:nth-child(2) { width: 20%; } /* user */
#board tr td:nth-child(3) { width: 8%; } /* hit */
#board tr td:nth-child(4) { width: 8%; } /* vote */
#board tr td:nth-child(5) { width: 14%; } /* date */